# Local development API
VITE_SERVER_URL=http://localhost:8080
VITE_ASSETS_DIR=

# Firebase Authentication. Obtain these values from your own Firebase project.
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
